@import "assets/styles/new/mixins";
@import "assets/styles/new/variables";
@import "assets/styles/new/typography";

html:has(.layout-new) {
  background: var(--surface-secondary);
}

body:has(.layout-new) {
  background-color: transparent;
}

.layout-content {
  padding-top: 20px;
  display: grid;
  gap: var(--gap-content-x);

  @include desktop {
    padding-top: 144px;
  }
}

#backdrop {
  background: var(--surface-primary);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include desktop {
    background: rgba(var(--surface-secondary-rgb), 0.75);
  }
}

.bodyOverflowHidden {
  @include fixContentJump();
  overflow-y: hidden;
}
