@import "assets/styles/new/variables";
@import "assets/styles/new/mixins";

.layout-new {
  main {
    height: auto;
    margin-top: 0;
    min-height: unset;
  }
  
  @include mobile {
    br:not(.force) {
      display: none;
    }
  }
  
  h1, h2, .h1, .h2 {
    @extend .bold; // default font-weight
  }

  h3, .h3 {
    @extend .medium; // default font-weight
  }
  
  .body1, .body2, .body3, .body4 {
    @extend .regular; // default font-weight
  }
  
  h1, h2, h3, .h1, .h2, .h3, .body1, .body2, .body3, .body4, .caption {
    color: var(--text-primary);
    font-family: $font-family-inter;
    @extend .font-normal-nd;
  }
  
  .font-normal-nd {
    font-weight: normal;
    font-style: normal;
  }
  
  .regular {
    font-weight: 400;
  }
  
  .medium {
    font-weight: 500;
  }
  
  .semibold {
    font-weight: 600;
  }
  
  .bold {
    font-weight: bold;
  }

  .underline {
    text-decoration: underline;
  }

  .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .nd-link-primary {
    @include link(var(--link-primary), var(--link-primary-hover));
  }

  .nd-link-secondary {
    @include link(var(--link-secondary), var(--link-secondary-hover));
  }

  .nd-text-secondary {
    color: var(--text-secondary);
  }

  .pointer {
    cursor: pointer;
  }
  
  .h1,
  h1 {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -1.5px;
    @include desktop {
      font-size: 48px;
      line-height: 52px;
    }
  }
  
  .h2,
  h2 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.8px;
    @include desktop {
      font-size: 36px;
      line-height: 42px;
    }
  }
  
  .h3,
  h3 {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -1px;
    @include desktop {
      font-size: 24px;
      line-height: 28px;
    }
  }
  
  .body1 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.4px;
    @include desktop {
      font-size: 20px;
      line-height: 30px;
    }
  }
  
  .body2 {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.5px;
    @include desktop {
      font-size: 16px;
      line-height: 24px;
    }
  }
  
  .body3 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.28px;
    @include desktop {
      font-size: 15px;
      line-height: 22px;
    }
  }
  
  .body4 {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.08px;
    @include desktop {
      font-size: 14px;
    }
  }
  
  .caption {
    font-size: 12px;
    line-height: 18px;
  }
}
