.sliderWrapper {
  position: relative;
  padding: 16px 16px 0 16px;
  background-color: rgba(235, 237, 240, 0.5);
  border-radius: 4px;
  display: grid;
  grid-gap: 3px;
}

.rangeTitle {
  color: $black;
  margin-left: -5px;
  line-height: 16px !important;
}

.slider {
  height: 1px !important;
  width: 100% !important;
  position: relative;
  bottom: -5px;
  cursor: pointer;
  z-index: 1;
}

.customDot {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $primary;
  box-shadow: 0 0 0 2px $white;

  &:hover {
    cursor: pointer;
  }
}

.customStep {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-color: #fff !important;
}

.customTooltip {
  background-color: $primary;
  color: $white;
  transition: $transition-default;
  padding: 5px 10px;
  border-radius: 8px;
  line-height: initial;
  font-size: 13px;
  visibility: hidden;
}

.customProcess {
  height: 1px;
  background-color: $primary;
}

.customMark {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 5;
  width: 5px;
  height: 2px;
}
